/* Formato general*/

* {
    Margin:0;
    padding:0; 
    box-sizing: border-box;
}

html { 
    font-family: 'Raleway';
}

ul,
ol {
    list-style: none;
}

a{ 
    text-decoration: none;
}

/*h2{ 
    font-weight: bold;
    font-size: large;
    padding: 3%;
    text-align: center;
}*/ 

h3{
    font-size: medium;
    font-weight: bold;
}

    h4{
        font-size: small;
    }


/* Formato headers */

.headerPagina{
    
    background-color: rgba(255, 182, 193, 0.59);

}
    /* 
    position: sticky;
    top: 5px; */

.logo { 
    
    height: 7rem;
    width: 7rem;
    border-radius: 10%;
    
}

/*
.buscador:focus{
    border: 3px;
}
*/
.carrito { 
    
    height: 7%;
    width: 7%;
}

/* Formato lista de productos */


.product{
    border: #cac5c5e0 solid 1px;
    height: 50vh;
    width: 45vh;
    padding: 3px;
}

.product img{
    height: 60%;
    width: 80%;
}

button{
    padding: 1px;
    background-color: #fac5e7;
    border: white;
    font-size: small;
    border-radius: 70px;
}

button:hover{
    background-color: gray;
    color: white;
} */

/* Formato footers */

/* .footer{

    margin-left: 15px;
    margin-right: 15px

} */
/*
.navContacto {

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    
    grid-area: contacto;

}

.navContacto p{
    padding-top: 10px;
}

.navUbicacion{
    grid-area: ubicacion;
}



.navLinks{
    grid-area: linksUtiles;
}

.navLinks ul{
    padding-top: 10px;
} */

/* .preguntas-footer {

    display: inline;
    height: 50px;
    width: 50px;

} */

/* Formato de Quienes Somos */

/* .fotoDuenas {

    display: inline;
    height: 300px;
    width: 300px;

}

.quienesSomos {

    display: inline;
    text-align: right;

}


.imagenesComida img  {

    display: inline;
    height: 200px;
    width: 200px;
    padding: 15px;
    margin: 10px;

}
 */
/* Productos */

/* .mostrarMas {

    display: inline-flex;
    text-align: center;

} */

/* Eventos */

/* .imagenesEventos img{

    display: inline;
    height: 250px;
    width: 250px;
    padding: 15px;
    margin: 10px;

}  */

/* Media queries */

/* 
@media (min-width:426px) and (max-width:1024px){
    
    h2{ 
        font-size: x-large;
        padding: 2%;
    } 
    
    .headerPagina{
        grid-template-rows: 60% 40%;
    }
    
    .headerPagina nav ul li{ 
        font-size: medium;
    }
    
    .product{
        height: 50vh;
        width: 30vw;
    }

    .logo { 
    
        height: 100%;
        width: 40%;
    }
} */ 
p{padding-top: 0%;} 